.photo-grid {
  width: 1184px;
  margin-left: calc(50% - 592px);
  margin-top: 118px;
  margin-bottom: 92px;
}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.photo-grid__image {
  width: 284px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 768px;
    margin-left: 0;
  }

  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-grid__image {
    width: 352px;
  }
}