.places__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    box-sizing: border-box;
    padding: 0 24px;
  }

  .places__list {
    gap: 80px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    padding: 0 16px;
  }

  .places__list {
    gap: 50px;
  }
}
